<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <span>TimeSheet</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
            <p-overlayPanel #op>
                <ng-template pTemplate="content">
                    <p-button type="button" icon="pi pi-power-off" (click)="logout()" label="Logout"></p-button>
                </ng-template>
            </p-overlayPanel>
            <button class="p-link layout-topbar-button" (click)="op.toggle($event)">
                <i class="pi pi-user"></i>
                <span>Profile</span>
            </button>
    </div>
</div>
